.nameHeader {
    font-family: Roboto Mono, monospace;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.homeInfo {
    font-family: Roboto Mono, monospace;
    text-align: center;
    color: rgb(47, 99, 62);
}

.cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}