.techStackSection {
  padding: 10px 10px;
  text-align: center;
}

.techStackTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}

.techGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: .5rem;
  justify-items: center;
}

.techItem {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.techName {
  font-size: 16px;
  font-weight: 600;
}
